@import "../../styles/variables";


.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: $rubik;
	font-weight: 600;
	line-height: 66px;
	color: $defaultTextGray;
	margin: 0;
}

.cardContent {
	max-width: 484px;

	.cardTitle {
		font-family: $manrope;
		font-weight: 700;
		font-size: 34px;
		line-height: 46px;
	}

	.cardDescription {
		font-family: $manrope;
		font-weight: 400;
		font-size: 20px;
		line-height: 27px;
	}

	.cardButton {
		border-radius: 50px;
		padding: 14px 20px;
		background: $white;
		color: $green;
		transition: all .3s;
		max-width: calc(112px - 20px - 20px);
		border: 1px solid transparent;
		text-decoration: none;
		text-align: center;
		margin-top: 51px;
		font-family: $manrope;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;

		&:hover {
			background: $green;
			color: $white;
			border-color: $white;
		}
	}
}