@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 660px) {
    padding: 0 52px;
    height: 100%;
  }
}

.title {
  font-family: $manrope;
  font-weight: 600;
  line-height: 100%;
  color: $defaultTextGray;
  margin: 0;
  font-size: 56px;
  margin-bottom: 48px;
}

.cardContent {
  max-width: 484px;

  .cardTitle {
    font-family: $manrope;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    margin-bottom: 75px;

    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 27px;
    }
  }

  .cardDescription {
    font-family: $manrope;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  .cardButton {
    border-radius: 50px;
    padding: 12px 19px;
    background: $white;
    color: $primaryPurple;
    transition: all 0.3s;
    width: 126px;
    height: 50.5px;

    border: 1px solid transparent;
    text-decoration: none;

    margin-top: 51px;
    font-family: $manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width: 1024px) {
      margin-top: 22px;
    }

    &:hover {
      background: $green;
      color: $white;
      border-color: $white;
    }
  }
}
