@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 12px;
}

.title {
  font-family: $manrope;
  font-weight: 600;
  line-height: 100%;
  color: $defaultTextGray;
  margin: 0;
  font-size: 56px;
  margin-bottom: 48px;
}

.cardContent {
  max-width: 484px;

  .cardTitle {
    font-family: $manrope;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 12px;

    @media screen and (min-width: 1440px) {
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 75px;
    }
  }

  .cardDescription {
    font-family: $manrope;
    font-weight: 400;
    font-size: 13px;

    @media screen and (min-width: 1440px) {
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
    }
  }

  .cardButton {
    background: $white;
    color: $primaryPurple;
    transition: all 0.3s;
    border: 1px solid transparent;
    border-radius: 50px;
    text-decoration: none;
    font-family: $manrope;
    font-size: 14px;
    width: 103px;
    height: 40px;
    padding: 6px 14px;
    margin-bottom: 12px;

    @media screen and (min-width: 1440px) {
      margin-top: 22px;
      width: 126px;
      height: 50.5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      padding: 12px 19px;
    }

    &:hover {
      background: $green;
      color: $white;
      border-color: $white;
    }
  }
}
