@import '../../styles/variables';

.title {
  font-family: $manrope;
  font-size: 44px;
  font-weight: 700;
  text-align: left;
  color: $white;
}

.subtext {
  font-family: $manrope;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
  max-width: 826px;
  color: $white;
}

.contentGrid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  margin-bottom: 200px;
  margin-top: 32px;
}

.contentWrapperMission,
.contentWrapperVision {
  display: flex;
  flex-direction: column;
  width: 922px;
  height: 482px;
  border-radius: 20px;
  padding: 48px;

  .alignedContent {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 212px;
  }
}

.contentWrapperMission {
  background-color: $primaryPurple;
}
.contentWrapperVision {
  background-color: $green;
}

@media screen and (max-width: 660px) {
  .spacerSection {
    height: 50px !important;
  }
  .title,
  .subtext {
    padding: 0 16px;
  }
  .title {
    font-size: 28px;
  }
  .subtext {
    font-size: 20px;
  }
  .contentWrapper {
    margin-bottom: 48px;
  }
}
