@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  margin-bottom: 100px;
  gap: 16px;

  @media only screen and (min-width: 1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 0 28px;
    gap: 20px;
    margin-bottom: 250px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 36px;
  height: 350px;

  @media only screen and (min-width: 1440px) {
    height: 414px;
  }
}

.cardText {
  font-family: $manrope;
  font-size: 34px;
  font-weight: 400;
  line-height: 46.44px;
  text-align: left;
  margin-top: 36px;
  color: $white;
  transition: all 0.3s;
}

.cardTextHovered {
  font-family: $manrope;
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
  margin-top: 36px;
  transition: all 0.3s;
  color: $white;
}

.cardHoveredSubtitle {
  font-family: $manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin: 16px 0 0 0 !important;
  color: $white;
  transition: all 0.3s;
}

.arrowButton {
  background: $white;
  border-radius: 50%;
  padding: 8px;
  width: 56px;
  margin: 0 0 36px 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  transition: all 0.3s;

  &:hover {
    background: none;
    border-color: $white;
  }

  img {
    transition: all 1s;
    width: 100%;
  }
}
