@import '../../styles/variables';

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px;
  padding-top: 115px;
  margin-bottom: 197px;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }

  @media screen and (max-width: 660px) {
    padding-left: 16px;
    width: 100%;
  }
}
.heroImgContainer {
  width: 100%;
  background-image: url('./../../assets/images/hero-1920.png');
  background-repeat: no-repeat;
  background-size: 1864px 984px;
  background-position: center;
  height: 984px;

  border-radius: 20px;
  position: relative;
}
.heroPara {
  font-family: $manrope;
  color: $white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 548px;
}
.heroHeading {
  font-family: $manrope;
  color: $white;
  font-weight: 800;
  font-size: 150px;
  line-height: 150px;
  text-transform: uppercase;
  position: absolute;
  top: 640px;
  left: 50px;
}

