@import '../../styles/variables';

.contentWrapper {
  padding: 0 12px;
  padding-top: 115px;
  margin-bottom: 62px;
  @media only screen and (min-width: 1440px) {
    padding: 0 28px;
    margin-bottom: 197px;
    padding-top: 115px;
  }
}
.heroImgContainer {
  width: 100%;
  background-image: url('./../../assets/images/hero-1920.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 351px 565px;
  height: 565px;
  border-radius: 20px;
  position: relative;

  @media only screen and (min-width: 1440px) {
    background-size: 2504px 984px;
    height: 984px;
  }
}
.heroPara {
  font-family: $manrope;
  color: $white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 26px;
  left: 15px;
  width: 323px;

  @media only screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 28px;
    top: 50px;
    left: 50px;
    width: 548px;
    height: 54.33px;
  }
}
.heroHeading {
  font-family: $manrope;
  color: $white;
  font-size: 40px;
  line-height: 45px;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  left: 15px;

  @media only screen and (min-width: 1440px) {
    font-size: 110px;
    line-height: 110px;
    top: 720px;
    left: 50px;
  }

  @media only screen and (min-width: 1920px) {
    font-size: 150px;
    line-height: 150px;
    top: 640px;
    left: 50px;
  }
}
