/***** FONTS *******/

$rubik: 'Rubik', sans-serif;
$manrope: 'Manrope', sans-serif;

/***** COLORS *******/
$primaryPurple: #5856d6;
$primary300Purple: #7270f2;
$primary400Purple: #5350e9;
$primary500Purple: #3b38dd;
$primary900Purple: #100e87;
$defaultTextGray: #333333;
$white: #ffffff;

/***** COLORS2 *******/
$purple: #5f418b;
$vividPurple: #9349ff;
$darkPurple: #221e39;
$almostWhite: #f8f8f8;
$lightBlack: #b5b5b5;
$lightGray: #ececec;
$darkGray: #393939;
$mediumGray: #585858;
$lowOpacityGray: #c7c7c7;
$gray: #4d4d4d;
$transparentGray: #7d7d7d;
$green: #40916c;
