/***** FONTS *******/

$rubik: "Rubik", sans-serif;
$manrope: "Manrope", sans-serif;

/***** COLORS *******/
$primaryPurple: #5856D6;
$primary300Purple: #7270F2;
$primary400Purple: #5350E9;
$primary500Purple: #3B38DD;
$primary900Purple: #100E87;

/***** COLORS2 *******/
$purple: #5F418B;
$vividPurple: #9349FF;
$darkPurple: #221e39;
$white: #ffffff;
$almostWhite: #f8f8f8;
$lightBlack: #B5B5B5;
$lightGray: #ECECEC;
$darkGray: #393939;
$lowOpacityGray: #C7C7C7;
$defaultTextGray: #333333;
$gray: #4d4d4d;
$transparentGray: #7D7D7D;
$green: #40916C;