/***** FONTS *******/

$rubik: "Rubik", sans-serif;
$manrope: "Manrope", sans-serif;

/***** COLORS *******/

$purple: #5F418B;
$vividPurple: #9349FF;
$darkPurple: #221e39;
$white: #ffffff;
$darkGray: #393939