/***** FONTS *******/

$rubik: "Rubik", sans-serif;
$manrope: "Manrope", sans-serif;

/***** COLORS *******/
$primaryPurple: #5856D6;
$primary300Purple: #7270F2;
$primary400Purple: #5350E9;
$primary900Purple: #100E87;

/***** COLORS *******/
$purple: #5F418B;
$vividPurple: #9349FF;
$darkPurple: #221e39;
$white: #ffffff;
$darkGray: #393939;
$defaultTextGray: #333333;