@import "../../styles/variables";

.desktopWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 304px;

	@media screen and (max-width:1024px) {
		display: none;
	}
}

.mobileContent {
	display: none;


	@media screen and (max-width:1024px) {
		display: flex;
		flex-direction: column;
		margin: 0 16px;
	}
}

.steps {
	font-family: $manrope;
	font-size: 28px;
	font-weight: 600;
	line-height: 33.18px;
	text-transform: uppercase;
	transition: all .3s;
	cursor: pointer;
	color: $lightBlack;

	&.active {
		color: $defaultTextGray;
	}

	&:hover {
		color: $defaultTextGray;
	}

	@media screen and (max-width:1024px) {
		font-size: 20px;
		font-weight: 700;
		line-height: 38px;
		margin-bottom: 9px;
	}
}

.tabs {
	width: 708px;
}

.stepsTexts {
	font-family: $manrope;
	font-size: 40px;
	font-weight: 400;
	line-height: 54.64px;
	color: $defaultTextGray;
	animation: fadeIn 1s;

	@media screen and (max-width:1024px) {
		font-size: 20px;
		line-height: 27px;
		margin: 0;
		max-width: 343px;
	}
}

.stepsWrapper {
	display: flex;
	flex-direction: column;
	animation: fadeIn 1s;
}

.areasOfWorf {
	font-family: $manrope;
	font-size: 28px;
	font-weight: 400;
	line-height: 38px;
	color: $defaultTextGray;
	padding: 16px 26px;
	border-radius: 100px;
	border: 1px solid $lightBlack;
	margin-bottom: 16px;

	@media screen and (max-width:1024px) {
		padding: 14px 24px;
		font-size: 20px;
		line-height: 27px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}