@import '../../styles/variables';

.contentWrapper {
  width: 100%;
  padding: 0 28px;
  margin-bottom: 370px;
}
.whatWeDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 223px;
}
.title {
  font-family: $manrope;
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
}
.para {
  font-family: $manrope;
  font-weight: 600;
  font-size: 44px;
  line-height: 50px;
  width: 922px;
  text-align: center;
}
.areaWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.areaTitle {
  font-family: $manrope;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 28px;
}
.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.itemGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  animation: spin 40s infinite linear;
  padding-right: 24px;
}
.workItem {
  width: 400px;
  height: 80px;
  border: 0.5px solid $lightBlack;
  border-radius: 100px;
  padding: 16px;
  font-family: $manrope;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  flex: 0 0 400px;
}
@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
