@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.3s;
}

.bigSpacing {
  padding: 0;
}

.mediumSpacing {
  padding: 48px;
}
.smallSpacing {
  padding: 24px;
}
.purple {
  background: $primaryPurple;
}

.black {
  background: $defaultTextGray;
}

.gradientPurple {
  background: linear-gradient(
    0deg,
    $primary400Purple -50.12%,
    $primary300Purple 138.88%
  );
  border: 2px solid $primary300Purple;
}

.gray {
  border: 1px solid $white;
  background: $gray;
}

.green {
  background: $green;
}

.transparent {
  background: none;
}
