@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
  font-family: 'Manrope';
}

body {
  background-image: url('../assets/background-login.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.formContainer {
  width: 36rem;
  height: 43.25rem;
  padding: 4.5rem;
  background-color: #ffffff;
  margin-right: 10.125rem;
  margin-top: 6.5rem;
  border-radius: 0.625rem;

  h2 {
    font-size: 2rem;
  }
}

.googleButton {
  margin-top: 2.25rem;
  margin-bottom: 3rem;
  width: 100%;
  height: 3.5rem;
  background-color: #ffffff;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.hrText {
  position: relative;
  text-align: center;
  hr {
    border: none;
    border-top: 1px solid #8e8e93;
  }
  span {
    position: absolute;
    color: #8e8e93;
    top: -0.8rem;
    right: 9rem;
    padding: 0 0.5rem;
    background-color: #ffffff;
  }
}

.formLogIn {
  margin-top: 2.25rem;
  display: flex;
  flex-direction: column;

  label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
  }
  label:first-child {
    margin-bottom: 1.5rem;
  }

  input {
    margin-top: 0.5rem;
    height: 3.5rem;
    border: solid 0.12rem #8e8e93;
    border-radius: 0.625rem;
    padding: 1rem;
  }
  a {
    margin-top: 0.5rem;
    color: #5856d6;
    font-weight: 600;
  }

  button {
    margin-top: 2.25rem;
    border: none;
    border-radius: 1.875rem;
    background-color: #c7c7cc;
    color: #ffffff;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    height: 3.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.passwordHide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hideIcon {
  display: flex;
  align-items: center;

  img {
    width: 1.25rem;
    height: 1.25rem;
  }
  span {
    color: #8e8e93;
    margin-left: 0.5rem;
  }
}

.errorMessage {
  color: red;
}
