@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 336px;

  @media screen and (max-width: 1024px) {
    padding: 0 16px 40px;
  }
  @media screen and (max-width: 660px) {
    width: 100%;
    padding-left: 25px;
    padding-right: 16px;
  }
}

.comment {
  font-family: $manrope;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  color: $defaultTextGray;
  max-width: 922px;

  @media screen and (max-width: 1024px) {
    font-size: 20px;
    line-height: 27px;
  }
}

.commentOwner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 36px;

  @media screen and (max-width: 1024px) {
    margin-top: 24px;
  }

  .photo {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 8px;
    }
  }

  .name {
    font-family: $manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: $defaultTextGray;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .position {
    font-family: $manrope;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    color: $transparentGray;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
}
