@import '../../styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 0.5px solid #b5b5b5;
  padding: 30px 48px;
  background: $white;

  @media screen and (max-width: 1023px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 43px 16px 0;
    border: none;
  }

  @media screen and (min-width: 1300px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 660px) {
    margin-bottom: 20px;
  }
}

.menu {
  border: none;
  background: none;
  cursor: pointer;
  justify-self: flex-start;

  img {
    width: 40px;
  }
}

.drawerContentWrapper {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .drawerLeftContent {
    font-family: $manrope;
    font-weight: 500;
    text-transform: uppercase;
    width: 45%;
    margin-left: 10%;

    h2 {
      font-weight: inherit;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff80;
      padding-left: 40px;
    }

    .drawerMenu {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 36px;

      li {
        cursor: pointer;

        a {
          font-size: 40px;
          line-height: 48px;
          transition: all 0.3s;
          text-decoration: none;
          color: #ffffff;

          &:hover {
            color: $primaryPurple;
          }
        }
      }
    }
  }

  .drawerRightContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 44px;
    max-width: 499px;

    .drawerCardText,
    .drawerCardTextTagline {
      font-family: $manrope;
      font-weight: 400;
      font-size: 40px;
      line-height: 47px;
      max-width: 403px;
      text-transform: capitalize;
      margin: 48px;
      color: #ffffff;
    }

    .cardButtonWrapper {
      margin: 13px 48px 48px 48px;
    }

    .memberPortalCard {
      padding: 48px;
      a {
        text-decoration: none;
        // color: inherit;
      }
      .memberPortalBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          margin: 0;
          text-decoration: none;
        }

        img {
          width: 40px;
        }
      }
    }
  }
}

.logo {
  width: 139px;
  justify-self: center;

  @media screen and (max-width: 660px) {
    padding-left: 16px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-self: flex-end;

  :nth-child(2) {
    margin-left: 16px;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .drawerContentWrapper {
    flex-direction: column;

    .drawerLeftContent {
      width: 100%;
      .drawerMenu {
        gap: 8px;
        li {
          a {
            font-size: 24px;
          }
        }
      }
    }
    .drawerRightContent {
      width: 100%;
      margin: 10px 0;
      margin-left: 10%;
      .hideCardForMobile {
        background: none;
        border: none;
        padding: 0;

        .drawerCardTextTagline {
          display: none;
        }

        .cardButtonWrapper {
          width: 150px;
          margin: 20px 0;
        }

        .drawerCardText {
          font-size: 20px;
        }

        .memberPortalCard {
          padding: 0;
          .memberPortalBtn {
            justify-content: flex-start;
            margin-top: 10px;
          }

          img {
            width: 32px;
          }
        }
      }
      .cardSpacer {
        height: 0 !important;
      }
    }
  }
}
