@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  width: 100%;
  margin-bottom: 80px;
  @media only screen and (min-width: 1440px) {
    margin-bottom: 300px;
  }
}

.title {
  font-family: $manrope;
  width: 100%;
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 48px;
  color: $defaultTextGray;

  @media screen and (max-width: 1024px) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 19px;
  }
}

.newsCardContainer {
  width: 100%;
}

.cards,
.cardTableBody,
.cardRow,
.cardData {
  width: 100%;
}
.cardRow {
  border-bottom: 1px solid $lightGray;
  border-top: 1px solid $lightGray;
}
.cardData {
  padding: 28px 0;
}
