@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px 300px 28px;
  width: 100%;

  @media screen and (max-width: 1024px) {
    padding: 0 16px 29px 16px;
  }

  @media screen and (max-width: 660px) {
    padding-left: 40px;
  }
}

.title {
  font-family: $manrope;
  font-size: 56px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 48px;
  color: $defaultTextGray;

  @media screen and (max-width: 1024px) {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 19px;
  }
}

.cards {
  width: 100%;

  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
.cardRow {
  border-bottom: 1px solid $lightGray;
  border-top: 1px solid $lightGray;
}
.cardData {
  padding: 28px 0;
}
