@import '../../styles/variables';

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 100px;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 300px;
  }
}
.cardsIndex {
  display: flex;
  align-content: center;
  gap: 8px;
}
.cardIndex {
  font-family: $manrope;
  font-size: 20px;
  font-weight: 500;
  color: $lightBlack;
  text-align: center;
  &.active {
    color: $primaryPurple;
  }
}
.carouselCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 322px;
  margin-top: 16px;

  @media screen and (min-width: 1440px) {
    height: 478px;
    // padding: 0 20px;
  }
}

.carouselCard {
  position: absolute;
  transition: all 0.8s;
  border-radius: 20px;
  width: 272px;
  height: 322px;
  padding: 24px;

  a {
    display: none;
  }

  &.active {
    opacity: 1;
    z-index: 1;
    background-color: $primaryPurple;
    color: $white;

    a {
      display: flex;
    }

    @media screen and (min-width: 1440px) {
      display: block;
      z-index: 0;
    }
  }

  &.prev {
    left: -70%;
    background-color: $white;
    border: 1px solid $lightGray;
    color: $lowOpacityGray;

    @media only screen and (max-width: 1440px) {
      left: -30%;
    }
    @media only screen and (min-width: 1920px) {
      left: -15%;
    }
    @media only screen and (min-width: 2560px) {
      left: -1%;
    }
  }

  &.next {
    right: -70%;
    background-color: $white;
    border: 1px solid $lightGray;
    color: $lowOpacityGray;

    @media only screen and (min-width: 1440px) {
      right: -30%;
    }
    @media only screen and (min-width: 1920px) {
      right: -15%;
    }
    @media only screen and (min-width: 2560px) {
      right: -1%;
    }
  }

  &.hidden {
    display: none;
  }

  @media only screen and (min-width: 1440px) {
    width: 618px;
    height: 477.53px;
    padding: 48px;
  }
}

.buttonsWrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  margin-bottom: 16px;

  @media only screen and (min-width: 1440px) {
    width: 65%;
    top: 240px;
  }
  @media only screen and (min-width: 1920px) {
    width: 50%;
    top: 240px;
  }
  @media only screen and (min-width: 2560px) {
    width: 40%;
    top: 240px;
  }

  .carouselButton {
    background: none;
    border: 1px solid $primaryPurple;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 3;
    transition: all 0.3s;

    @media only screen and (min-width: 1440px) {
      width: 80px;
      height: 80px;
    }

    &:hover {
      background: $primaryPurple;
      &:nth-child(1) {
        img {
          transform: rotate(0deg);
        }
      }
      &:nth-child(2) {
        img {
          transform: rotate(180deg);
        }
      }
    }

    &:nth-child(1) {
      img {
        transform: rotate(180deg);
      }
    }

    img {
      width: 24px;

      @media only screen and (min-width: 1440px) {
        width: 40px;
      }
    }
  }
}
