@import '../../styles/variables';

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 300px;
}
.cardsIndex {
  display: flex;
  gap: 8px;
}
.cardIndex {
  font-family: $manrope;
  font-size: 20px;
  font-weight: 500;
  color: $lightBlack;
  &.active {
    color: $primaryPurple;
  }
}
.carouselCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 477.53px;

  @media screen and (max-width: 1024px) {
    height: 700px;
    margin-top: -90px;
    padding: 0 20px;
  }
}

.carouselCard {
  position: absolute;
  transition: all 0.8s;
  border-radius: 20px;
  width: 618px;
  height: 477.53px;

  a {
    display: none;
  }

  &.active {
    opacity: 1;
    // z-index: 1;
    background-color: $primaryPurple;
    color: $white;

    a {
      display: flex;
    }

    @media screen and (max-width: 1024px) {
      display: block;
    }
  }

  &.prev {
    left: -10%;
    background-color: $white;
    border: 1px solid $lightGray;
    color: $lowOpacityGray;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &.next {
    right: -10%;
    background-color: $white;
    border: 1px solid $lightGray;
    color: $lowOpacityGray;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }
}

.buttonsWrapper {
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media screen and (max-width: 1024px) {
    width: 100%;
    top: 77%;
  }
  @media screen and (max-width: 660px) {
    margin-top: 40px;
  }

  .carouselButton {
    background: none;
    border: 1px solid $primaryPurple;
    border-radius: 50%;
    padding: 20px;
    z-index: 3;
    transition: all 0.3s;

    @media screen and (max-width: 1024px) {
      padding: 15px;
      margin: 0 16px;
    }

    &:hover {
      background: $primaryPurple;
      &:nth-child(1) {
        img {
          transform: rotate(0deg);
        }
      }
      &:nth-child(2) {
        img {
          transform: rotate(180deg);
        }
      }
    }

    &:nth-child(1) {
      img {
        transform: rotate(180deg);
      }
    }

    img {
      width: 40px;

      @media screen and (max-width: 1024px) {
        width: 30px;
      }
    }
  }
}
