@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  // padding: 347px 0 285px;
  background: #333333;
  border-radius: 30px 30px 0 0;

  @media screen and (max-width: 1024px) {
    padding: 125px 16px 80px;
  }
  @media screen and (max-width: 660px) {
    width: 100%;
  }
}

.firstMessage,
.secondMessage {
  font-family: $manrope;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: $white;

  @media screen and (max-width: 1024px) {
    font-size: 32px;
    line-height: 44px;
  }
}

.firstMessage {
  animation: titleAnimation 4s ease-in-out forwards, textBlinker 3s infinite;
  opacity: 0;
  margin-bottom: 8px;
}

.secondMessage {
  animation: subTitleAnimation 4s ease-in-out forwards,
    textBlinker 3s infinite 1.5s;
  opacity: 0;
  margin-bottom: 16px;

  @media screen and (max-width: 1024px) {
    margin-bottom: 72px;
  }
}
.thirdMessage {
  font-family: $manrope;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  width: 608px;
  margin-bottom: 56px;
  color: $white;
}

.buttonWrapper {
  animation: buttonAnimation 4s ease-in-out forwards;
  opacity: 0;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  25% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.25;
  }

  75% {
    opacity: 0.25;
    transform: translateY(0);
  }

  100% {
    opacity: 0.25;
    transform: translateY(0);
  }
}

@keyframes subTitleAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  25% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textBlinker {
  0% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.25;
  }
}

@keyframes subtitleBlinker {
  0% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  25% {
    opacity: 0;
    transform: translateY(20px);
  }

  50% {
    opacity: 0;
    transform: translateY(20px);
  }

  75% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
