@import "../../../styles/variables";

.button {
	padding: 12px 24px;
	border-radius: 30px;
	transition: all .3s;
	text-decoration: none;
	font-family: $manrope;
}

.normal {
	background: $primaryPurple;
	color: $white;

	&:hover {
		background: $primary900Purple;
	}
}

.outlined {
	border: 2px solid $primaryPurple;
	color: $primaryPurple;


	&:hover {
		background: $primaryPurple;
		color: $white;
	}
}

.gradient {
	background: linear-gradient(90deg, $primary400Purple 48.41%, $primary300Purple 116.59%);
	border: 1px solid $primary300Purple;
	color: $white;
	box-shadow: 3px 3px 15px 0px #5856D699;


	&:hover {
		box-shadow: 0 0 35px 0px $primaryPurple;
	}
}