@import '../../styles/variables';


.wrapper {
  width: 100%;
  padding: 0 28px 16px 28px;
  background-color: $defaultTextGray;
  margin-top: 0.5px;
}

.topSpacer {
  height: 92px;
}

.bottomSpacer {
  height: 62px;
}

.topDivision {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 249px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
}
.stayTitle {
  font-family: $manrope;
  font-weight: 600;
  font-size: 80px;
  color: $white;
}
.newsInfo {
  font-family: $manrope;
  font-weight: 400;
  font-size: 24px;
  color: $white;
}
.inputContainer {
  position: relative;
}
.inputEmail {
  width: 525px;
  height: 59px;
  background-color: $mediumGray;
  border: none;
  border-radius: 100px;
  padding: 20px;
  &::placeholder {
    font-family: $manrope;
    font-weight: 500;
    font-size: 20px;
    color: $lightGray;
  }
}
.emailBtn {
  width: 55px;
  height: 55px;
  background-color: $green;
  border: none;
  border-radius: 100px;
  padding: 12px;
  position: absolute;
  right: 1px;
}
.arrowImg {
  width: 32px;
  height: 32px;
}

.topRightDivision {
  display: flex;
  gap: 112px;
}
.contact,
.connect,
.discover {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contactTitle,
.connectTitle,
.discoverTitle {
  font-family: $rubik;
  font-weight: 700;
  font-size: 20px;
  color: $white;
}
.contactDetails,
.connectDetails,
.discoverDetails {
  font-family: $manrope;
  font-weight: 400;
  font-size: 20px;
  color: $white;
  text-decoration: none;
}

.bottomDivision {
  display: flex;
  flex-direction: column;

  .logo {
    width: 905px;
    height: 310px;
    margin-bottom: 16px;
  }
  .copyRightsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .policyContainer {
    display: flex;
    gap: 60px;
  }
  .policyLink {
    font-family: $manrope;
    font-weight: 400;
    font-size: 16px;
    color: $white;
  }

  .copyRights {
    font-family: $manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    color: $white;
    margin: 0;

    @media screen and (max-width: 1024px) {
      margin: 106px 16px 0;
    }
  }

  .documents {
    display: flex;
    align-items: center;

    .linkToDocument {
      font-family: $manrope;
      font-size: 16px;
      font-weight: 400;
      line-height: 21.86px;
      color: $white;

      &:hover {
        color: $lightBlack;
      }
    }
  }
}
