@import '../../styles/variables';

.wrapper {
  width: 100%;
  padding: 0 28px;
  background-color: $defaultTextGray;
}

.title {
  font-family: $manrope;
  font-weight: 600;
  font-size: 56px;
  line-height: 76px;
  margin-bottom: 81px;
  color: $white;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 23px;
  width: 100%;
  margin-bottom: 284px;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 0 27.5px;
  }
}
.countrySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 515px;
}
.countryTitle {
  color: $primary200Purple;
  font-family: $manrope;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 61px;
}
.country {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countryName {
  font-family: $rubik;
  color: $primary200Purple;
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase;
}

@media screen and (max-width: 660px) {
  .wrapper {
    padding: 48px 0;
  }
  .title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 24px;
  }
}
