@import "../../styles/variables";

.wrapper {
	padding: 166px 0 155px
}

.title {
	font-family: $manrope;
	font-weight: 600;
	font-size: 56px;
	line-height: 76px;
	margin-bottom: 81px;
	color: $white;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(264px, 1fr));
	gap: 20px;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}