@import "../../styles/variables";

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.comment {
	font-family: $manrope;
	font-size: 40px;
	font-weight: 400;
	line-height: 66px;
	text-align: center;
	color: $defaultTextGray;
	max-width: 806px;
}

.commentOwner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 36px;

	.photo {
		width: 80px;
		margin-bottom: 16px;
	}

	.name {
		font-family: $manrope;
		font-size: 24px;
		font-weight: 700;
		line-height: 32.78px;
		color: $primaryPurple;
	}

	.position {
		font-family: $manrope;
		font-size: 24px;
		font-weight: 400;
		line-height: 32.78px;
		color: $lightBlack;
	}
}