@import "../../styles/variables";

.wrapper {
	max-width: 342px;
	display: flex;
	flex-direction: column;
}

.contentImage {
	border-radius: 20px;
}

.category,
.title {
	font-family: $manrope;
	font-weight: 700;
	text-align: left;
}

.category {
	font-size: 16px;
	line-height: 21.86px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $transparentGray;
}

.title {
	font-size: 24px;
	line-height: 31px;
	text-align: left;
	color: $defaultTextGray;
	margin: 0;
}