@import "../../styles/variables";

.wrapper {
	max-width: 342px;
	display: flex;
	flex-direction: column;

	@media screen and (max-width:1024px) {
		max-width: 100%;
		margin-bottom: 40px;
	}
}

.imageContainer {
	width: 342px;
	height: 384px;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	margin-bottom: 16px;

	@media screen and (max-width:1024px) {
		width: 343px;
		height: 182px;
		border-radius: 10px;
		margin-bottom: 4px;
	}
}

.zoomImage {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.05);
	}
}

.category,
.title {
	font-family: $manrope;
	font-weight: 700;
	text-align: left;
}

.category {
	font-size: 16px;
	line-height: 21.86px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $transparentGray;
	margin-bottom: 8px;

	@media screen and (max-width:1024px) {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 4px;
	}
}

.title {
	font-size: 24px;
	line-height: 31px;
	text-align: left;
	color: $defaultTextGray;
	margin: 0;

	@media screen and (max-width:1024px) {
		font-size: 16px;
		line-height: 22px;
	}
}