@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

.imageContainer {
  width: 608px;
  height: 326px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  margin-bottom: 16px;

  @media screen and (max-width: 1024px) {
    width: 343px;
    height: 182px;
    border-radius: 10px;
    margin-bottom: 4px;
  }
}

.zoomImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.category,
.title {
  font-family: $manrope;
  font-weight: 700;
  text-align: left;
}
.categoryContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category,
.dot,
.date {
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 3%;
  color: $transparentGray;
  margin-bottom: 8px;
  font-weight: 600;

  @media screen and (max-width: 1024px) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}
.category {
  text-transform: uppercase;
}
.dot {
  border: 3px solid $transparentGray;
  border-radius: 50%;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 765px;
}
.title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  color: $defaultTextGray;
  margin: 0;

  @media screen and (max-width: 1024px) {
    font-size: 16px;
    line-height: 22px;
  }
}
