.imgContainer {
  width: 100%;
  height: 760px;
  padding: 0 28px;
  margin-bottom: 150px;
}
.image {
  width: 100%;
  border-radius: 20px;
  height: 760px;
  object-fit: cover;

  @media screen and (max-width: 1024px) {
    border-radius: 20px;
    margin-bottom: 77px;
  }
}
