.imgContainer{
  display: none;
}

@media only screen and (min-width: 1440px) {
  .imgContainer {
    display: block;
    width: 100%;
    height: 760px;
    padding: 0 28px;
    margin-bottom: 150px;
  }
  .image {
    width: 100%;
    border-radius: 20px;
    height: 760px;
    object-fit: cover;
  }
}
