@import "../../styles/variables";

.accordion-button {
	background-color: $almostWhite !important;
	height: 100%;
	align-items: flex-start;
	padding: 48px 20px !important;
	transition: all .3s !important;

	@media screen and (max-width:1024px) {
		padding: 16px 30px 16px 16px !important;
	}

	&:not(.collapsed) {
		padding: 48px 20px 24px !important;
		transition: all .3s;
		box-shadow: none !important;
	}

	&:focus {
		box-shadow: none !important;
	}
}

.accordion-item {
	border-bottom: 1px solid $lightBlack !important;
	background-color: $almostWhite !important;
}

.accordion-button:focus {
	box-shadow: none;
}

.accordion-button::after {
	background-image: url(../../assets/icons/addIcon.png) !important;
	margin-right: 0;

	@media screen and (max-width:1024px) {
		margin-right: 32px;
	}
}

.accordion-button:not(.collapsed)::after {
	background-image: url(../../assets/icons/closeIconWithoutBright.png) !important;
	transform: rotate(-135deg) !important;
}

.accordion-body {
	background-color: $almostWhite;
	padding: 0 1.25rem !important;
	width: 100%;
	transform-origin: top;
	animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
	from {
		transform: scaleY(0);
		opacity: 0;
	}

	to {
		transform: scaleY(1);
		opacity: 1;
	}
}