@import "../../styles/variables";

.accordion-header {}

.accordion-button {
	background-color: $almostWhite !important;
	height: 134px;
	transition: all .3s !important;

	&:not(.collapsed) {
		height: 0;
		margin: 48px 0 24px;
		transition: all .3s;
		box-shadow: none !important;
	}

	&:focus {
		box-shadow: none !important;
	}
}

.accordion-item {
	border-bottom: 1px solid $lightBlack !important;
	background-color: $almostWhite !important;
}

.accordion-button:focus {
	// box-shadow: 0 0 0 0.25rem hsla(241, 61%, 59%, .5) !important;
	box-shadow: none;
}

.accordion-button::after {
	background-image: url(../../assets/icons/addIcon.png) !important;
}

.accordion-button:not(.collapsed)::after {
	background-image: url(../../assets/icons/closeIconWithoutBright.png) !important;
	transform: rotate(-135deg) !important;
}

.accordion-body {
	background-color: $almostWhite;
	padding: 0 1.25rem !important;
	width: 100%;
}