@import "../../styles/variables";

.wrapper {
	margin-bottom: 158px;


	@media screen and (max-width:1024px) {
		margin-bottom: 75px;
	}
}

.sectionTitle {
	font-family: $manrope;
	font-size: 56px;
	font-weight: 600;
	line-height: 66.36px;
	text-align: left;
	margin: 0;
	padding: 0 0 33px 0;
	border-bottom: 1px solid $lightBlack;
	color: $defaultTextGray;

	@media screen and (max-width:1024px) {
		font-size: 28px;
		line-height: 38px;
		padding: 0 0 19px 15px;
	}
}

.headerText {
	font-family: $manrope;
	font-size: 28px;
	font-weight: 700;
	line-height: 38.25px;
	text-align: left;
	margin: 0;
	color: $defaultTextGray;

	@media screen and (max-width:1024px) {
		font-size: 20px;
		line-height: 27px;
		font-weight: 500;
		padding: 0;
	}
}

.bodyText {
	font-family: $manrope;
	font-size: 24px;
	font-weight: 400;
	line-height: 33px;
	max-width: 1139px;
	text-align: left;
	color: $defaultTextGray
}