@import "../../styles/variables";

.wrapper {
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		align-items: center;
	}
}

.profilePhoto {
	max-width: 264px;
	max-height: 270px;
	border-radius: 10px;
}

.name {
	font-family: $manrope;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	margin: 12px 0 4px;
	color: $white;
}

.role {
	font-family: $manrope;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: $lightBlack;
}