@import '../../styles/variables';

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 451px;

  @media screen and (max-width: 768px) {
    align-items: center;
  }
}

.profilePhoto {
  max-width: 451px;
  max-height: 425.81px;
  border-radius: 10px;
  object-fit: cover;
}

.name {
  font-family: $manrope;
  font-weight: bold;
  font-size: 20px;
  margin: 11px 0 4px;
  color: $white;
}

.role {
  font-family: $manrope;
  font-weight: normal;
  font-size: 16px;
  color: $lightBlack;
}

@media screen and (max-width: 660px) {
  .profilePhoto {
    max-width: 150px;
    max-height: 150px;
  }
  .name,
  .role {
    text-align: left;
  }
}
